:root {
  --color-base-primary: hsl(25, 97%, 53%);
  --color-base-bg: hsl(216, 12%, 8%);
  --color-base-text: hsl(217, 12%, 63%);

  --margin: 20px;
  --padding: 20px;
  --border-radius-icon: 20px;
  --border-radius-card: 8px;
  --height-avatar: 28px;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  --transition: all 0.2s ease-in-out;
  --transform: scale(1.08);
}

/* --- GLOBAL RESET --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 4fr;
  grid-template-rows: 0.8fr 8fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  /* border: 2px solid red; */
  padding: 10px 0px;
  row-gap: 20px;
}

/* --- HEADER --- */

.header-container {
  /* border: 2px solid red; */
  grid-area: header;

  display: grid;
  grid-template-areas: "title test";
  grid-template-columns: subgrid;
  align-items: center;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.header-content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr auto auto;
  gap: 4px;
  position: relative;
  /* justify-items: center; */
}

.header-content .icon {
  position: relative;
  height: var(--height-avatar);
  border-radius: var(--border-radius-icon);
}

.header-content .user-name {
  padding: 5px 20px;
  border-radius: var(--border-radius-card);
  background-color: black;
  color: white;
  margin-right: 10px;
  letter-spacing: 1px;
  align-self: center;
  text-decoration: none;
}

.site-title {
  grid-area: title;
}

/* --- SEARCH INPUT --- */

.search-input-container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.search-input-container .icon {
  position: absolute;
  top: 3px;
  left: 10px;
  height: 80%;

  fill: gray;
}

.search-input-container input[type="search"] {
  appearance: none;
  outline: none;
  border: 1px solid lightgray;

  width: 70%;
  background-color: whitesmoke;
  border-radius: var(--border-radius-icon);
  height: 100%;
  padding: 0 50px;
}

/* --- SIDEBAR --- */

.sidebar {
  /* border: 2px solid green; */
  /* background-color: bisque; */
  /* margin-left: 20px; */

  grid-area: sidebar;

  margin-left: var(--margin);
  margin-right: var(--margin);
  /* display: grid; */
  /* justify-items: center; */
}

.sidebar ul {
  /* border: 1px solid lightgray; */
  list-style-type: none;

  display: grid;
  gap: 20px; /* space between list items */
}

.sidebar ul li a {
  /* border: 2px solid blue; */

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px; /* space between icon and text */

  text-decoration: none;
  color: black;
}

.sidebar ul li a:hover {
  /* color: blue; */
  background-color: rgba(237, 243, 255, 0.8);

  transition: var(--transition);
  transform: var(--transform);
}

.sidebar .icon {
  width: 100%;
  height: 20px;
}

/* --- MAIN --- */

.main {
  /* background-color: aquamarine; */
  /* border: 1px solid green; */

  grid-area: main;

  margin-right: var(--margin); /* space between main and edge screen */
  border-right: 2px solid black;
  border-left: 2px solid black;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.main .title {
  /* margin-left: 20px; */
  font-size: 1.3rem;
  margin-bottom: 15px;
}

/* --- PROJECTS --- */

.main .projects {
  /* border: 2px solid blue; */

  grid-area: projects;

  /* margin-right: var(--margin); */
  padding: 0 var(--margin); /* space between main and edge screen */
}

.main .projects .project-card-container {
  /* border: 2px solid pink; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* space between project cards */
  /* margin-left: 20px;
  margin-right: 20px; */
}

/* --- CARD --- */

.main .projects .project-card-container .project-card {
  /* border: 1px solid black; */
  background-color: whitesmoke;

  border-left: 5px solid gray;
  padding: 20px;
  border-radius: var(--border-radius-card);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.project-card-container .project-card:hover {
  transition: var(--transition);
  transform: var(--transform);
}

.project-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 0.9rem;
}

.main .projects .project-card-container .project-card .project-link-container {
  /* border: 2px solid red; */

  display: grid;
  grid-auto-flow: column; /* align items in a row */
  justify-content: end;
  gap: 15px; /* space between icon and text */

  margin-top: 35px;
}

.project-card .project-link-container a:hover {
  transition: var(--transition);
  transform: scale(1.5);
}

.project-card .project-link-container .icon {
  height: 20px;
}

.project-card .project-link-container a {
  text-decoration: none;
}

/* --- ANNOUNCEMENTS --- */

.main .announcements {
  /* border: 2px solid red; */

  grid-area: announcements;
  margin-right: var(--margin); /* space between main and edge screen */
}

.main .announcements .announcements-container {
  /* border: 2px solid blue; */
  background-color: whitesmoke;

  display: grid;
  gap: 20px;

  border-radius: var(--border-radius-card);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: var(--padding);
}

.announcements-container .announcement-card {
  border-bottom: 1px solid gray; /* add border between cards */
  text-decoration: none;
  color: black;
}

.announcement-card:hover {
  transition: var(--transition);
  transform: var(--transform);
}

.announcements-container .announcement-card:last-child {
  border: none; /* remove border from last child */
  margin-bottom: -20px;
}

.announcement-card .announcement-title {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.announcement-card .announcement-description {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

/* --- TRENDING --- */

.main .trending {
  /* border: 2px solid red; */

  grid-area: trending;
  margin-right: var(--margin); /* space between main and edge screen */
}

.trending-container {
  /* border: 2px solid blue; */
  background-color: whitesmoke;
  box-shadow: var(--box-shadow);

  padding: 0 var(--padding);
  display: grid;
  gap: 20px;
}

.trending-container .trending-card {
  /* border-bottom: 1px solid gray; add border between cards */
  /* border: 2px solid green; */

  display: grid;
  /* justify-content: center; */
  align-items: center;
  grid-template-columns: 1fr 2.5fr;
  /* padding: var(--padding) 0; */
  border-radius: var(--border-radius-icon);
}

.trending-container .trending-card:hover {
  transition: var(--transition);
  transform: var(--transform);
}

.trending-container .trending-card:first-child {
  padding-top: var(--padding);
}

.trending-container .trending-card:last-child {
  padding-bottom: var(--padding);
}

.trending-card .trending-card-avatar {
  height: var(--height-avatar);
  width: auto;
  border-radius: var(--border-radius-icon);
}

.trending-card .trending-card-username {
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 1px;
}

.trending-card .trending-card-motto {
  font-size: 0.8rem;
}

.trending-card .trending-card-username,
.trending-card .trending-card-motto {
  color: black;
  text-decoration: none;
}

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-primary);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-primary-green); */
  text-decoration: none;
  color: var(--color-base-primary);
}

.fa-github {
  /* color: var(--color-base-primary-green); */
  margin-left: 0.5rem;
}
